
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
  
}



 /* Reusable Style  Start*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

  .btn{
    color: #FFFFFF;
    border: none;
    outline: none;
    font-weight: bold;
    background-color: #1D4ED8;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;

    cursor: pointer;
  }



  .btn-design{
    padding: 10px 5px;
    font-weight: bold;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
  }


 /* Reusable Style  End*/

header {
    padding: 20px;
}
header nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header-logo {}
header-logo img{
    max-width: 100%;
    object-fit: cover;
    color: black;
}

.menu-items{}
.menu-items ul{
    display: flex;
    gap: 10px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-items ul li{}
.menu-items ul li a{
text-decoration:  none;
color: #575757;
font-weight: 500;
font-size: 18px;

}
.div-btn{
}
 .div-btn button{
   
 }

 .hero-section{

 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/banner.jpg");
  width: 100%;
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 }
 .hero-section .content{
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
    padding: 50px;
     color: #FFFFFF;
    
   
    h1{
        margin: 8px;
        font-size: 40px;
        

    }
    
 }
 .hero-section button{
    margin-top: 250px;
 }
 .hero-section{}



 /* speakers-section  start*/

.speakers-section {
    padding: 50px 0;
}
.speakers-section .speakers-content{
  h2{
    text-align: center;
    font-family: 25px;
    padding: 8px;
  }
.speakers-grid{
 
     .speakers-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;






    .card-content{
        border: 1px solid #dbd6d6;
        border-radius: 10px;


     img{
        width: 100%;
        object-fit: cover;
          border-radius: 8px;
        
     };





     .card-content-info{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: 40px;
        p{
            margin-top: 5px;
            color: #1D4ED8;
            font-weight:600;
        };
        h3{
            font-weight: bold;
            color: #0D1B2A;
            font-size: 22px;
           
        };
        span{
            color: #575757;
        };
     }
    }
      
 }

}


}



 /* speakers-section  end*/


 /* Pricing Plan Start */

.pricing-plan{

    .some-info{
        text-align: center;
        margin-top: 5px;
    }
}


.pricing-card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 15px;
}



.pricing-card-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #dbd6d6;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}


.pricing-divider{
    width: 100%;
}


 .plan-features{
    list-style: inside;

    li{
        padding: 8px;
    }
 }

 .plan-price{
    font-size: 28px;
    font-weight: bolder;
 }


.pricing-card-item2{
    background-color: #0D1B2A;
    color: #c2b8b8;

    .plan-price{
        color: #FFFFFF;
    }
}


 .btn-primary{
    border: 1px solid #2563EB;
    color: #2563EB;
    background-color: #FFFFFF;
 }

.btn-secondary {
    background-color: #2563EB;
    color: #FFFFFF;
}
 

.btn-team{
    background-color: #FFFFFF;
    border: 1px solid #c2b8b8;
}
   
  
 /* Pricing Plan End */




 /* Footer Section Start */

footer{
    background-color: #0D1B2A;
    color: #d6d6d6;
   
.footer-content{
      display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}



    ul{
        list-style: none;
        display: flex;
        gap: 40px;



        li a{
            text-decoration:  none;
            color: #FFFFFF;
            
        }
    }
}




 /* Footer Section End */




/* Hackathon Section Start   */

.hackaton-section{
    background-color: #010a1e;
}
.hackaton-header-content{
   text-align: center; 
   padding: 20px 0;
 color: #FFFFFF;

   h2{
    margin: 10px 0;
   }
}






.hackathon-stats{
     display: flex;
     justify-content: space-around;
      background-color: #131f3d;
      padding: 20px;
      width: 90%;
      margin: auto ;
      border-radius: 15px;
      border: 1px solid red;
}
.hackathon-stats .hackaton-stat{
  

  


    p{
        color: #FFFFFF;
    }
    span{
        color: rgba(235, 235, 235, 0.5);
    }
    

 }

  .hackathon-timeline-main{
   width: 80%;
   margin: auto;
  }
 .hackathon-timeline{
    display: flex;
    color: wheat;
    justify-content: space-around;
    padding: 50px;
 }



    
 .hackathon-tracks-main{
     width: 80%;
   margin: auto;
 }
   .hackathon-tracks{
    display: flex;
    color: wheat;
    justify-content: space-around;
    padding: 50px;
   }
 


   .hackathon-cta{
     color: #FFFFFF;
    border: 1px solid red;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
   }






/* Hackathon Section End   */



